.skyline{
    height: 60vh;
    width: 100vw;
}

.attractionscards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
 
.backattractions {
    padding: 50px;
    /* background-image: url(./images/blueOrangeAbstract.png);
    background-size: cover;
    background-repeat: repeat; */
    /*opacity: .6;*/
    background: linear-gradient(90deg, 
  rgba(0,78,137,1) 0%, 
  rgba(26,101,158,1) 25%, 
  rgba(239,239,208,1) 50%, 
  rgba(247,197,159,1) 75%,
  rgba(255,107,53,1) 100%);
    
  }

#header{
    text-align: center;
    font-family: serif;
    font-weight: 200;
    font-size: 40px;
    margin-bottom: 20px;
    color:white ;
    text-shadow: 3px 2px 3px rgba(27, 28, 29, 0.7);
    /* background: #FF6B35;
    background: -moz-linear-gradient(left, #FF6B35 0%, #1A659E 53%, #004E89 100%);
    background: -webkit-linear-gradient(left, #FF6B35 0%, #1A659E 53%, #004E89 100%);
    background: linear-gradient(to right, #FF6B35 0%, #1A659E 53%, #004E89 100%); */
}

.btn-primary2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 107, 53); 
    font-size: 16px; 
    line-height: 16px; 
    border-radius: 5px; 
    font-family: Georgia, serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); 
    box-shadow: rgb(119, 115, 108) 3px 3px 17.5px 2.5px; 
    border: 1.5px solid rgb(86, 120, 142);    
}

.button-position {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.button-text {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.card{
    height: 350px;
    margin-top: 40px;
    margin-bottom: 20px;
    background-image: url(./images/skyline4.png);
    -webkit-box-shadow: 0px 2px 14px 5px #504b4b; 
    box-shadow: 0px 2px 14px 5px #483f3f;
}

.card-text{
    margin-top: 20px;
    width: 400px;
    font-weight: 600;
    font-family: serif;
    font-size: 16px;
    text-shadow: 8px 4px 8px rgba(246, 248, 249, 0.7);
}

.attractioncardtitle {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: rgba(0,78,137,1);
}

.attractioncardimage {
    height: 200px;
    width: 325px;
    margin-top: 10px;
    border-radius: 3%;
}



