.footerbackground {
    background-color: #102447 !important;
}

.footernamecolor {
    color: #ff6b35;
}

.footerlinkscolor {
    color: #efefd0;
    text-decoration: none;
}

/* .footericonsize {

} */